<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Оплата</title>
    <meta charset="utf-8"/>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<h1 style="text-align: center; margin: 15px 0;">Свободный платеж</h1>
<div class="container container-small" style="display: grid; margin-top: 40px">

    <a href="/" class="stretched-link" style="margin-bottom: 10px; float: right">К списку пользователей</a>
    <form action="/free" method="POST">
        <div class="form-group row">
            <label for="ls" class="col-sm-5 col-form-label">Лицевой счет</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="ls" id="ls" placeholder="Лицевой счет">
            </div>
        </div>
        <div class="form-group row">
            <label for="unp" class="col-sm-5 col-form-label">УНП</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="unp" id="unp" placeholder="УНП">
            </div>
        </div>
        <div class="form-group row">
            <label for="pol" class="col-sm-5 col-form-label">Наименование получателя</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="pol" id="pol" placeholder="Наименование получателя">
            </div>
        </div>
        <div class="form-group row">
            <label for="code" class="col-sm-5 col-form-label">Код банка получателя</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="code" id="code" placeholder="Код банка получателя">
            </div>
        </div>
        <div class="form-group row">
            <label for="bank" class="col-sm-5 col-form-label">Банк получателя</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="bank" id="bank" placeholder="Банк получателя">
            </div>
        </div>
        <div class="form-group row">
            <label for="naz" class="col-sm-5 col-form-label">Назначение платежа</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="naz" id="naz" placeholder="Назначение платежа">
            </div>
        </div>
        <div class="form-group row">
            <label for="num" class="col-sm-5 col-form-label">Номер карты</label>
            <select class="custom-select col-sm-6" name="num" style="margin-left: 12px;" onchange="
            function findOption(param) {this.name = param.value;}
            findOption(this)">
                {{#each cards}}
                    <option value="{{this.id}}" selected>{{this.num}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group row">
            <label for="sum" class="col-sm-5 col-form-label">Сумма</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="sum" id="sum" placeholder="Сумма операции BY">
            </div>
        </div>

        <input type="submit" value="Отправить" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>
